{% extends 'accounts/base.html' %}

{% block title %}
    Login
{% endblock %}

{% block body %}
<style>

    .login {
      max-width: 450px;
      margin: 20% auto;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 15px;
      background-color: #f9f9f98f;
      box-shadow: 7px -2px 10px rgb(0 0 0 / 32%);
    }

    .login a {
        color: #2049e7;
        margin-top: 10px;
        display: flex;
        justify-content: center;
    }

    .login label {
        font-weight: bold;
        margin-top: 10px;
        display: block;
    }

    .login input[type="text"],
    .login input[type="password"] {
        width: 97%;
        padding: 10px;
        margin-top: 5px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 15px;
        font-size: 16px;
    }

    .btn-submit {
        border: inherit;
        background-color: #a6ffe1;
        border-radius: 15px;
        width: 97%;
        height: 35px;
        font-size: 15px;
        font-weight: bold;
    }

    .btn-submit:hover {
        background-color: #52f7bf;
    }


</style>
<div>
    <form class="login" method="post">
            {% csrf_token %}
            {{ form.as_p }}
        <button class="btn-submit" type="submit">Войти</button>
        <a href="{% url 'accounts:register' %}">Зарегистрироваться</a>
    </form>
</div>

{% endblock %}<br>