{% extends 'accounts/base.html' %}

{% block title %}
    Регистрация
{% endblock%}

{% block body %}
    <style>
        .register-form {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
            background-color: #f9f9f98f;
            box-shadow: 7px -2px 10px rgb(0 0 0 / 32%);
        }

        h1 {
            text-align: center;
            color: #333;
        }

        .register-form label {
            font-weight: bold;
            margin-top: 10px;
            display: block;
        }

        .register-form input[type="text"],
        .register-form input[type="password"],
        .register-form textarea,
        .register-form select {
            width: 97%;
            padding: 10px;
            margin-top: 5px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 15px;
            font-size: 16px;
        }

        .btn-submit {
            border: inherit;
            background-color: #a6ffe1;
            border-radius: 15px;
            width: 97%;
            height: 35px;
            font-size: 15px;
            font-weight: bold;
        }

        .btn-submit:hover {
            background-color: #52f7bf;
        }

    </style>
    <h1>Регистрация:</h1>
    <form class="register-form" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn-submit" type="submit">Зарегистрироваться</button>
    </form>
{% endblock%}